table,
th,
td {
    border: 1px solid grey;
    text-align: center;
}

th,
td {
    padding: 10px;
}

caption {
    font-size: 20px;
    color: blue;
}
.menu {
    border: 20px;
    border-radius: 10px;
    background-color: chartreuse;
    font-size: 30px;
    padding: 45px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    text-align: center;
    margin-top: 70px;
}
.a1 {
    margin-left: 33%;
}
.a2 {
margin-left: 20px;
margin-right: 20px ;
}
.a3 {
    margin-right: 20px;
}
.main-menu {
    margin-top: 200px;
}
.header-menu {
    background-color: chartreuse;
        height: 100px;
}
.footer-menu {
    margin-top: 300px;

    background-color: chartreuse;
    height: 100px;
    padding-bottom: 50px;
}
address {
        margin-left: 150px;
        padding-top: 10px;
        font-size: 20px;
        color: #fff;
}
address  a {
    color: grey;
}
tr:hover {
    color: aquamarine;
    background-color: darkgrey;
    font-family: fantasy;
    font-size: larger;
}
i:hover {
 color: rgb(173, 163, 11);
 font-size: larger;
 font-family: serif;
}
.sidebar1 {
 display: flex;   
}
aside {
    width: 700px;
    margin-left: 150px;
}
#table {
    width: 900px;
}
.aud1 {
    margin-left: 850px;
}
.vid1 {
    margin-left: 650px;
}
h2 {
    text-decoration: underline black;
    text-shadow: 5px 5px 5px #888787;
}
.h1-dz3 {
    text-transform: capitalize;
}
.under-h1 {
line-height: 20px;
}
.food {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.food > div > p {
    font-style: oblique;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: larger;
}
.dz3-main {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
::selection {
color: aquamarine;
}
.food-img {
    padding-left: 30px;
}
.register > fieldset > label {
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: normal;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}
.register {
    padding-top: 50px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-left: 34%;
    margin-bottom: 50px;
}
.register > button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}
.dz4-a1 {
    border: 10px;
        border-radius: 5px;
        background-color: rgb(128, 228, 228);
        font-size: 25px;
        padding: 10px;
        color: #fff;
        margin-left: auto;
        margin-right: auto;
        margin-left: 40%;
        margin-top: 30px;
}
.dz4-fieldset {
    width: 700px;
    margin-left: 30%;
}
.dz4-p {
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: normal;
}
.second-button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.first-a1 {
    border: 20px;
    border-radius: 10px;
    background-color: rgb(129, 218, 213);
    font-size: 30px;
    padding: 25px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}
.dz4-a {
margin-top: 250px;
}