*,
*::before *::after {
    box-sizing: border-box;
}
table,
th,
td {
    border: 1px solid grey;
    text-align: center;
}

th,
td {
    padding: 10px;
}

caption {
    font-size: 20px;
    color: blue;
}
.menu {
    border: 20px;
    border-radius: 10px;
    background-color: chartreuse;
    font-size: 30px;
    padding: 45px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;

}
h1 {
    text-align: center;
    margin-top: 70px;
}
.a1 {
    margin-left: 33%;
}
.a2 {
margin-left: 20px;
margin-right: 20px;
}
.a3 {
    margin-right: 20px;
}
.a4 {
    margin-right: 25px;
}
.a5 {
    margin-right: 25px;
}
.main-menu {
    margin-top: 200px;
}
.header-menu {
    background-color: chartreuse;
        height: 100px;
}
.footer-menu {
    margin-top: 300px;

    background-color: chartreuse;
    height: 100px;
    padding-bottom: 50px;
}
address {
        margin-left: 150px;
        padding-top: 10px;
        font-size: 20px;
        color: #fff;
}
address  a {
    color: grey;
}
tr:hover {
    color: aquamarine;
    background-color: darkgrey;
    font-family: fantasy;
    font-size: larger;
}
i:hover {
 color: rgb(173, 163, 11);
 font-size: larger;
 font-family: serif;
}
.sidebar1 {
 display: flex;   
}
aside {
    width: 700px;
    margin-left: 150px;
}
#table {
    width: 900px;
}
.aud1 {
    margin-left: 850px;
}
.vid1 {
    margin-left: 650px;
}
.h1-dz3 {
    text-transform: capitalize;
}
.under-h1 {
line-height: 20px;
}
.food {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.food > div > p {
    font-style: oblique;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: larger;
}
.dz3-main {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
::selection {
color: aquamarine;
}
.food-img {
    padding-left: 30px;
}
.register > fieldset > label {
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: normal;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}
.register {
    padding-top: 50px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-left: 34%;
    margin-bottom: 50px;
}
.register > button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}
.dz4-a1 {
    border: 10px;
        border-radius: 5px;
        background-color: rgb(128, 228, 228);
        font-size: 25px;
        padding: 10px;
        color: #fff;
        margin-left: auto;
        margin-right: auto;
        margin-left: 40%;
        margin-top: 30px;
}
.dz4-fieldset {
    width: 700px;
    margin-left: 30%;
}
.dz4-p {
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: normal;
}
.second-button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.first-a1 {
    border: 20px;
    border-radius: 10px;
    background-color: rgb(129, 218, 213);
    font-size: 30px;
    padding: 25px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}
.dz4-a {
margin-top: 250px;
}
.container {
    display: flex;
    margin: 50px auto;
    width: 680px;
    background-color: #fff;
    border: #fff 10px;
    border-radius: 8px;
}
.section-1 {
margin: 12px auto;
width: 100%;
}
.section-2 {
margin: 12px auto;
width: 100%;
}

.button-dz5 {
    margin: 35px auto 20px;
    display: block;
    background: rgb(8, 4, 73);
    background: linear-gradient(90deg, rgba(8, 4, 73, 1) 0%, rgba(43, 43, 213, 1) 46%, rgba(0, 154, 185, 1) 100%);
    padding: 7px 250px;
    font-size: large;
    border: 2px solid #fff;
    border-radius: 5px;
}
.dz5-input {
    margin-right: 10px;
    margin-top: 10px;
}
form > h1 {
    margin-top: 30px;
    margin-left: 30px;
}
label {
    width: 150px;
}
.body-dz5 {
    background: rgb(8, 4, 73);
    background: linear-gradient(90deg, rgba(8, 4, 73, 1) 0%, rgba(43, 43, 213, 1) 46%, rgba(0, 154, 185, 1) 100%);
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.hr-dz5 {
    background: rgb(8, 4, 73);
    background: linear-gradient(90deg, rgba(8, 4, 73, 1) 0%, rgba(43, 43, 213, 1) 46%, rgba(0, 154, 185, 1) 100%);
    width: 90px;
    margin-left: 30px;
    height: 3px;
}
.label-dz5 {
    display: block;
    margin-bottom: 3px;
}
.gender-label {
    display: flex;
    font-size: 17px;
    width: 100%;
}
.gender-container {
    display: flex;
    margin: 0 50px;
}
.section-1-dz6 {
    margin: 12px auto;
    width: 50%;
    float: left;
}

.section-2-dz6 {
    margin: 12px auto;
    width: 50%;
    float: right;
}
.gender-container-dz6 {
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 30px;
    width: 90%;
    float: left;
}
.gender-label-dz6 {
    font-size: 17px;
    width: 33%;
    float: left;
}

.button-dz6 {
    margin: 35px auto 20px;
    display: block;
    background: rgb(8, 4, 73);
    background: linear-gradient(90deg, rgba(8, 4, 73, 1) 0%, rgba(43, 43, 213, 1) 46%, rgba(0, 154, 185, 1) 100%);
    padding: 7px 250px;
    font-size: large;
    border: 2px solid #fff;
    border-radius: 5px;
    clear: both;
}
 #inp-1:checked ~.gender-container-dz6 label .gender-label-ins1, .lab1,
 #inp-2:checked ~.gender-container-dz6 label .gender-label-ins2, .lab2,
 #inp-3:checked ~.gender-container-dz6 label .gender-label-ins3, .lab3 {
     background: #9b59b6;
     border-color: #d9d9d9;
     border-radius: 50%;
 }
form input[type="radio"] {
    display: none;
}
.gender-label-ins[type="radio"] {
        background: #9b59b6;
        border-color: #d9d9d9;
        border-radius: 50%;
}
